@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loginButton {
    @apply bg-primary text-white rounded-full w-[133px] h-[48px];
  }
  .basket {
    @apply bg-white flex justify-center items-center w-[48px] h-[48px] rounded-full relative;
  }
  .basketTotalCoursesAdded {
    @apply absolute -top-[6px] right-0 bg-primary text-white text-[8px] rounded-full p-1 px-[7px];
  }
  .serviceBox {
    @apply flex flex-col justify-center items-center rounded-[24px] border-[1px] border-solid border-[#ECEFF1] h-[280px] px-6 transition-shadow hover:bg-white lg:w-[390px] hover:shadow-primaryShadow;
  }
  .courseItem {
    @apply mt-10 w-[90%] lg:w-[296px] pb-3 lg:pb-0 lg:h-[389px] rounded-[24px] shadow-primaryShadow px-4;
  }
  .courseItemImage {
    @apply w-full h-[210px] lg:h-[180px] rounded-[20px] mt-[16px] cursor-pointer;
  }
  .courseItemDetailsBox {
    @apply flex gap-[3px];
  }
  .courseItemDetailsBoxText {
    @apply font-[500] text-[12px];
  }
  .categoryItem {
    @apply w-[94%] lg:w-[328px] h-[328px] shadow-landingCategoryItemShadow rounded-[32px] bg-white flex flex-col justify-center items-center mt-4;
  }
  .landingBlogItemStyleTwoBackground {
    @apply flex gap-1 justify-center items-center bg-secondary w-[102px] h-[40px] rounded-[80px];
  }
  .landingBlogItemsStyleTwoColor {
    @apply font-[500] text-primaryColor mt-[1px];
  }
}

html,
body {
  direction: rtl;
  overflow-x: hidden !important;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#FAFBFC];
}

/* Swiper */
.swiper-button-prev,
.swiper-button-next {
  @apply w-[100px] h-[100px] bg-[url("/src/assets/images/Landing/LandingTeachers/Icons/prev-arrow.svg")];
}
.swiper-button-next {
  @apply bg-[url("/src/assets/images/Landing/LandingTeachers/Icons/next-arrow.svg")];
}
.swiper-button-prev::after,
.swiper-button-next::after {
  @apply hidden;
}
.swiper-pagination-bullet {
  @apply w-[20px] h-[20px] bg-center bg-[url('/src/assets/images/Landing/LandingTeachers/Icons/default-pagination.svg')];
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-transparent bg-[url('/src/assets/images/Landing/LandingTeachers/Icons/active-pagination.svg')];
}
.swiper-pagination {
  @apply gap-3 flex justify-center;
}
.swiper-wrapper {
  @apply mb-12;
}
