@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loginButton {
    @apply bg-primary text-white rounded-full w-[133px] h-[48px];
  }
  .basket {
    @apply bg-white flex justify-center items-center w-[48px] h-[48px] rounded-full relative;
  }
  .basketTotalCoursesAdded {
    @apply absolute -top-[6px] right-0 bg-primary text-white text-[8px] rounded-full p-1 px-[7px];
  }
}

html,
body {
  direction: rtl;
  font-family: "iranYekan";
}

html {
  scroll-behavior: smooth;
}
